<%-include partials/header.ejs%>

<%-include partials/main_nav.ejs%>

  <body>
  <main class="container">
    <div class="row">
      <div class="col">
        <div class="card bg-dark text-white">
          <i class="fas fa-phone-square fa-5x">4377701590</i>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col">
          <h1 class="text-center">
            .
          </h1>
        </div>
        </div>
      <div class="row">
      <div class="col">
        <div class="card bg-dark text-white">
          <i class="fas fa-envelope-square fa-5x">arpitshukla114@gmail.com</i>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col">
          <h1 class="text-center">
            .
          </h1>
        </div>
        </div>
      <div class="row">
      <div class="col">
        <div class="card bg-dark text-white">
          <i class="fab fa-github fa-5x">jacksparrow114</i>
        </div>
      </div>
      </div>
      
  </main>

<%-include partials/footer_nav.ejs%>

<%-include partials/footer.ejs%>
  
    
