<%-include partials/header.ejs%>

<%-include partials/main_nav.ejs%>

  <body>
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
  </main>

  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <h6 class="display-6 navbar-text"> &copy; @Copyrights 2021. All rights reserved.</h6>
    </div>
  </nav>
  
    <!-- Script section -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
  </body>
</html>
